@using Microsoft.AspNetCore.Components.Authorization
@inherits TopBarBase
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- Logo on the left -->
        <a class="navbar-brand" href="/">
            <img class="logo-image" src="images/logo.png" />
        </a>

        <!-- Menu items and "Sign In" button on the right -->
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item ms-2">
                    <AuthorizeView>
                        <Authorized>
                            <div class="account-menu">
                                <span class="menu-label"><i class="bi bi-person"></i> Account</span>
                                <div class="menu-content">
                                    <div class="menu-header">
                                        <div class="heading-img">
                                            <img src="images/logo.png" alt="Logo" />
                                        </div>
                                    </div>
                                    <ul>
                                        <li><i class="bi bi-speedometer2"></i><a href="/dashboard">Dashboard</a></li>
                                        <li><i class="bi bi-power"></i><a href="javascript:void(0);" @onclick="Logout">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</button>
                        </NotAuthorized>
                    </AuthorizeView>
                </li>
            </ul>
        </div>
    </div>
</nav>

<SignInModal />